.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 30px;
  cursor: pointer;
}

.product-item {
  padding: 100px;
}

.wrap-box{
  background-color: rgba(128, 128, 128, 0.174);
  border-radius: 5px;
 padding-left: 20px;
 padding-bottom: 20px;
  width: 70%;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid grey;
  
}